@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


.currency{ 
  border-top: 1px solid #90caf9;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  background-color: #424242;
  color: #fff; 
  padding: 40px;
  border-radius: 4px;
}

.currency > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.currency-top, .currency-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.currency-top > input{
  padding: 0 2px;
  line-height: 22px;
  font-size: 16px;
}

.currency-top > input:first-child{
  margin-right: 15px;
}

.currency-bottom{
  margin: 20px 0;
}

.currency-bottom > select{
  width: 100%;
  height: 22px; 
}

.currency-bottom > select:first-child{
  margin-right: 15px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px; 
  padding: 6px 20px;
  background-color: #90caf9;
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

button:disabled  {
  cursor: initial;
  opacity: 0.4;
}